<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <form method="post" action="/login">
        <h1>Login Now</h1>
        <br />
        <input type="email" name="email" placeholder="email" value="<%=locals.email%>" /><br />
        <br />
        <input type="password" name="password" placeholder="password" /><br />
        
        <p style="color: red"> <%= locals.message %> </p>
        <button type="submit">Login</button>
      </form>
    </main>
  </body>
</html>
